@page
@using Microsoft.AspNetCore.Mvc.Localization
@using HQSOFT.Configuration.Localization
@using HQSOFT.Configuration.Web.Pages.Configuration.HQTasks
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using HQSOFT.Configuration.HQTasks;
@using System.Globalization
@inject IHtmlLocalizer<ConfigurationResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Configuration/HQTasks/EditModal" autocomplete="off">
    <abp-modal id="HQTaskEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="HQTask.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="HQTask.Subject"   />


            <abp-input asp-for="HQTask.Project"   />


            <abp-select asp-for="HQTask.Status"   />


            <abp-select asp-for="HQTask.Priority"   />

            <abp-input asp-for="HQTask.ExpectedStartDate" value="@(Model.HQTask.ExpectedStartDate.ToString("yyyy-MM-dd"))" type="date" />

            <abp-input asp-for="HQTask.ExpectedEndDate" value="@(Model.HQTask.ExpectedEndDate.ToString("yyyy-MM-dd"))" type="date" />


            <abp-input asp-for="HQTask.ExpectedTime"   />


            <abp-input asp-for="HQTask.Process"   />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>